*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    background-color: #FF6347;
    height: 50px;
}

main{
    display: flex;
    flex-grow: 1;
    background-color: #98FB98;
}
nav{
    flex-grow: 1;
    background-color: #D8BFD8;
}
article{
    flex-grow: 2;
    background-color: #98FB98;
}
aside{
    flex-grow: 1;
    background-color: #F5DEB3;
}

footer{
    background-color: #8A2BE2;
    height: 50px;
}